body {
  background-color: black;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.8em;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background: blue;
    color: white;
  }
}

.container {
  position: absolute;
  left: 50%; /* relative to nearest positioned ancestor or body element */
  top: 50%; /*  relative to nearest positioned ancestor or body element */
  transform: translate(-50%, -50%); /* relative to element's height & width */
}
#dft_logo_canvas {
  border-radius: 3px;
}

#bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
}
#bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em;
}

#top-right {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
}
#top-left {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
}
